@{
    ViewBag.Title = "CRS Cost Analysis";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #0033a0;
        }

            .topnav b {
                float: right;
                color: #fff;
                padding-right: 10px;
                text-align:right;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 17px;
            }

            .topnav a {
                float: left;
                color: #fff;
                text-align: center;
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ff8200;
                }

                .topnav a.active {
                    background-color: #93ade4;
                }
    </style>
</head>

<body style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,32,91,1) 50%, rgba(83,9,186,1) 100%);">
</body>

<div class="topnav">
    <a href="~/CRS/Cost" style="background-color:#93ade4" id="first">Cost</a>
    <a href="~/CRS/Food" style="background-color:#6087db" id="second">Food</a>
    <a href="~/CRS/Entertainment" style="background-color:#2c64db" id="third">Entertainment</a>
    <a href="~/CRS/Service" style="background-color:#003bb8; margin-right:20px" id="fourth">Service</a>
    <b><img src="~/Content/jetblue_white_logo.png" style="max-width:15%; max-height:190px; margin-top:4px;" /> CRS</b>
</div>

<iframe width="750" height="550" style="display:block;" src="https://datastudio.google.com/embed/reporting/02206049-e338-4511-94cc-8ecfecfddfae/page/PyJ4"></iframe>
<div style="height:350px; width:375px; background-color:#ffa200; border-radius: 25px; float:right; margin-top:15px;">
    <div style="height:300px; width:325px; background-color:#e1e8f7; border-radius: 25px; margin:0 auto; margin-top:24px; text-align:center">
        <br /> <b>Significant Ranking Data:</b> <br /> <i> Most recorded likes by sentiment </i> <br /> <br />
        0 Recorded Interactions &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b> -6.9% Sentiment</b> <br />
        1 Recorded Interactions &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b> 1.6% Sentiment</b> <br />
        2 Recorded Interactions &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b> -9.2% Sentiment</b> <br />
        3 Recorded Interactions &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b> -4.6% Sentiment</b> <br /> <br />
        <img src="~/Content/processing.gif" style="height:25%; width:40%" />
    </div>
</div>
<div style="height:250px; width:375px; background-color:#c9763e; border-radius: 25px; float:right; margin-top:25px; margin-left:400px;">
    <div style="height:200px; width:325px; background-color:#e1e8f7; border-radius: 25px; margin:0 auto; margin-top:24px; text-align:center">
        <b>Data Sample:</b> <br/>
        <i>
            Splitting the cost of a flight with points and a credit card.
            Hello! Last year I was able to put points towards a flight and pay the difference with my credit card. I didn't see that option when I was looking to book a flight today and was just wondering when that all changed, as it was kind of a bummer to find out!
        </i>
        <br />
        <img id="sourcelogo" src="~/Content/reddit.png" style="width:7%;height:12%"> &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; - Dowegetnachos <img src="~/Content/user.png" style="max-width:15%; max-height:15%; margin-top:4px;">
    </div>
</div>

<body>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>

<script type="text/javascript">
                    window.onload = function () {
                }
</script>

<script type="text/javascript">
    var div1 = document.getElementById('first');
    div1.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div1.onmouseout = function () {
        this.style.backgroundColor = '#93ade4';
    };
    var div2 = document.getElementById('second');
    div2.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div2.onmouseout = function () {
        this.style.backgroundColor = '#6087db';
    };
    var div3 = document.getElementById('third');
    div3.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div3.onmouseout = function () {
        this.style.backgroundColor = '#2c64db';
    };
    var div4 = document.getElementById('fourth');
    div4.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div4.onmouseout = function () {
        this.style.backgroundColor = '#003bb8';
    };
</script>