@{
    ViewBag.Title = "CRS Entertainment Analysis";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #0033a0;
        }

            .topnav b {
                float: right;
                color: #fff;
                text-align:right;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 17px;
            }

            .topnav a {
                float: left;
                color: #fff;
                text-align: center;
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ff8200;
                }

                .topnav a.active {
                    background-color: #93ade4;
                }
    </style>
</head>

<body style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,32,91,1) 50%, rgba(83,9,186,1) 100%);">
</body>

<div class="topnav">
    <a href="~/CRS/Cost" style="background-color:#93ade4" id="first">Cost</a>
    <a href="~/CRS/Food" style="background-color:#6087db" id="second">Food</a>
    <a href="~/CRS/Entertainment" style="background-color:#2c64db" id="third">Entertainment</a>
    <a href="~/CRS/Service" style="background-color:#003bb8; margin-right:20px" id="fourth">Service</a>
    <b><img src="~/Content/jetblue_white_logo.png" style="max-width:15%; max-height:190px; margin-top:4px;" /> CRS</b>
</div>

<div id="mainChart" style="display:inline-block;"></div>
<div style="height:350px; width:375px; background-color:#ffa200; border-radius: 25px; float:right; margin-top:15px;">
    <div style="height:300px; width:325px; background-color:#e1e8f7; border-radius: 25px; margin:0 auto; margin-top:24px; text-align:center">
        <b>Highest Ranking Data:</b> <br /> <i> Most recorded adjectives found </i> <br /> <br />
        "Free" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <b>42 Mentions</b> <br />
        "First" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <b>37 Mentions</b> <br />
        "Good" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <b>33 Mentions</b> <br />
        "Right" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <b>30 Mentions</b> <br />
        "Annoying" &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <b>21 Mentions</b>
        <img src="~/Content/processing.gif" style="height:25%; width:40%" />
    </div>
</div>
<div style="height:250px; width:375px; background-color:#c9763e; border-radius: 25px; float:right; margin-top:25px; margin-left:400px;">
    <div style="height:200px; width:325px; background-color:#e1e8f7; border-radius: 25px; margin:0 auto; margin-top:24px; text-align:center">
        <b>Data Sample:</b> <br />
        <i>The gate agents seem to actually care about their customers (Unlike the AA agents who seem to be more interested in their iPhones). The on board entertainment options are fantastic (and POWER OUTLETS!). The flight attendants actually seem to care about their jobs (as evidenced by the "service first" attitude) </i>
        <br />
        <img id="sourcelogo" src="~/Content/tripadvisor.png" style="width:7%;height:12%"> &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Quillbin <img src="~/Content/user.png" style="max-width:15%; max-height:15%; margin-top:4px;">
    </div>
</div>


<body>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>

<script type="text/javascript">
                    window.onload = function () {

                    var chart = new CanvasJS.Chart("mainChart", {
	                animationEnabled: true,
                    theme: "dark2", // "light1", "dark1", "dark2",
                    height: 550,
                    width:750,
	                title: {
		                text: "Entertainment Sentiment Level (by Range)"
	                },
	                data: [{
		                type: "funnel",
		                dataPoints:  @Html.Raw(ViewBag.DataPoints)
	                    }]
                    });
                    chart.render();

                }
</script>

<script type="text/javascript">
    var div1 = document.getElementById('first');
    div1.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div1.onmouseout = function () {
        this.style.backgroundColor = '#93ade4';
    };
    var div2 = document.getElementById('second');
    div2.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div2.onmouseout = function () {
        this.style.backgroundColor = '#6087db';
    };
    var div3 = document.getElementById('third');
    div3.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div3.onmouseout = function () {
        this.style.backgroundColor = '#2c64db';
    };
    var div4 = document.getElementById('fourth');
    div4.onmouseover = function () {
        this.style.backgroundColor = '#ff8200';
    };
    div4.onmouseout = function () {
        this.style.backgroundColor = '#003bb8';
    };
</script>